@font-face {
  font-family: Cyberpunk;
  src: url(/src/fonts/Cyberpunk.ttf);
}
$yellow: #fcee09;
$yellow-dark: #ece108;
$black: #050a0e;
$blue: #00f0ff;
$white: #dad0c0;
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin respond($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin respondRem($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // overflow-x: hidden;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respondRem(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respondRem(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respondRem(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;
  position: relative;
  background-color: $black;
  @include respondRem(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $black;
  color: $white;
}
.body-hidden {
  overflow: hidden;
  padding-right: calc(3rem + 17px);
}
