@font-face {
  font-family: Cyberpunk;
  src: url(/src/fonts/Cyberpunk.ttf);
}
$yellow: #fcee09;
$yellow-dark: #ece108;
$black: #050a0e;
$blue: #00f0ff;
$white: #dad0c0;
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;
  position: relative;
  background-color: $black;
  @include respond(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $black;
  color: $white;
}

.header {
  height: 95vh;
  background-image: radial-gradient(rgba($yellow, 0.8), rgba($yellow, 0.8)),
    url(/src/img/background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo video" "v video";
  &__logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    & img {
      height: 20vh;
    }
  }
  &__v {
    grid-area: v;
    align-self: end;
    justify-self: center;
    & img {
      height: 75vh;
    }
  }
  &__video {
    grid-area: video;
    align-self: center;
    justify-self: center;
    & h2 {
      font-family: cyberpunk, sans-serif;
      text-align: center;
      font-size: 3rem;
      text-shadow: 1px 1px 1px $blue;
    }
    & iframe {
      border: 3px solid $blue;
      box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.8);
    }
  }
}
.nav {
  position: fixed;
  top: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  &__btn-line {
    width: 4rem;
    height: 5px;
    background: $white;
    border-radius: 0.4rem;
    transition: all 0.5s ease-in-out;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 5px;
      background: $white;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-1.4rem);
    }
    &::after {
      transform: translateY(1.4rem);
    }
  }
  &__background {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    background-color: $black;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }
  &__background-window {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
  &__links {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -150%);
    display: block;
    opacity: 0;
    z-index: 1500;
    transition: all 0.5s ease-in-out;
  }
  &__show {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &__item {
    width: 23rem;
    height: 6rem;
    border: 0;
    outline: none;
    background-color: $blue;
    cursor: pointer;
    position: relative;
    font-family: Cyberpunk, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: $black;
    text-shadow: 1px 1px 1px $blue;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    margin: 1rem;
  }
  &__item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: $yellow;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
}
// animation
@import "animation";
